$backgroundColor: hsl(185, 75%, 39%);
$darkBlue: hsl(229, 23%, 23%);
$darkGreyBlue: hsl(227, 10%, 46%);
$darkGrey: hsl(0, 0%, 59%);

$border: 1px solid red;
$border2: 1px solid orange;

@mixin centerDiv() {
  display: flex;
  justify-content: center;
  align-items: center;
}
